{
  "presets": [
    "react",
    [
      "env", {
        "targets": {
          "chrome": 45,
          "ie": 10
        },
        "modules": false,
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}